/*  your css code here. If applicable */
/*  your css code here. If applicable */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    border: 1px solid grey;
    width: 100px;
    height: 100px;
    text-align:center;
    align-content: center;
}
form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    align-items: start;
}
